*,
:after,
:before {
    margin: 30;
    padding: 30;
    box-sizing: border-box
}
body {
    margin: 30;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #333
}

h1 {
    margin: 40px auto 20px;
    text-align: center;
    font-weight: 400;
    font-size: 50px
}
h2 {
  margin-top: 5px;
}
h3 {
  margin-top: 30px;
}
h5 {
  margin-top: -10px;
}
#valueText p {
    margin: 0 auto 20px;
    text-align: center;
    font-weight: 400;
    font-size: 24px
}
.gauge {
  margin-top: -50px;
}
.rangeslider {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    background: #e6e6e6
}
.rangeslider .rangeslider__fill,
.rangeslider .rangeslider__handle {
    position: absolute
}
.rangeslider,
.rangeslider .rangeslider__fill {
    display: block;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}
.rangeslider .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute
}
.rangeslider .rangeslider__handle:active {
    background: #999
}
.rangeslider-horizontal {
    height: 20px;
    border-radius: 10px
}
.rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background: #27ae60;
    border-radius: 10px;
    top: 0
}
.rangeslider-horizontal .rangeslider__handle {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    top: -10px
}
.rangeslider-vertical {
    margin: 20px auto;
    height: 150px;
    max-width: 10px;
    background: none
}
.rangeslider-vertical .rangeslider__fill {
    width: 100%;
    background: #27ae60;
    box-shadow: none;
    bottom: 0
}
.rangeslider-vertical .rangeslider__handle {
    width: 30px;
    height: 10px;
    left: -10px
}
.rangeslider-vertical .rangeslider__handle:active {
    box-shadow: none
}
#centerBox {
    margin: 0;
    width: 70%;
}
.liButton {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  width:100%;
  text-align: left;
  border-radius: 0px;
  font-family: Arial;
  color: #000000;
  background: #ffffff;
  padding: 5px 15px 5px 15px;
  border: solid #f8f8f8 0px;
  text-decoration: none;
}
.liButton:hover {
  background: #f8f8f8;
  text-decoration: none;
}
.comments {
  margin: 0 auto;
  min-height: 100%;
  background: transparent;
}
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  background: transparent;
}
li.commentList {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

button.invisibleButton {
  background: transparent;
  border: none;
  font-size:0;
  top: 50%;
  height: 49px;
  outline: none;
}
.panel-heading {
  text-align:left;
}
#gaugeText {
  margin-top: 0px;
}
#mytable {
  width:100%;
  margin-top:0px;
  margin-bottom: 0px;
}
#mytable .left {
  text-align:right;
  padding-right:30px;
}
#mytable .right {
  text-align:left;
  padding-left:30px;
}
#sliderText {
  margin-top: -15px;
}
#sliderTable {
  width: 100%;
  margin-bottom: 20px;
}
#sliderTable .sliderLeftText {
  text-align:left;
  padding-left:10px;
}
#sliderTable .sliderMiddleText {
  text-align:center;
}
#sliderTable .sliderRightText {
  text-align:right;
  padding-right:10px;
}
#gaugeTable {
  width:400px;
  margin-top:-60px;
}
#gaugeTable .gaugeLeftText {
  text-align:left;
  padding-left:23px;
}
#gaugeTable .gaugeMiddleText {
  text-align:center;
}
#gaugeTable .gaugeRightText {
  text-align:right;
  padding-right:23px;
}
